
<h2 mat-dialog-title>Terms and Definitions  </h2>
<mat-dialog-content>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="term_and_definition">
    <tbody>
        <tr>
        <td colspan="4"><label>SSD</label></td>
        <td colspan="4">Specific Supply &amp; Demand (refers to houses with specific types of upgrades like P1, P2, or P3)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>P1</label></td>
        <td colspan="4">These are unrepaired, unremodeled, no upgrades done or "sold as is where is" properties.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>P2</label></td>
        <td colspan="4">These are properties that are remodelled, repaired and with upgrades done such as Stainless steel appliances, new paint, new carpet, new countertops but NO granite.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>P3</label></td>
        <td colspan="4">These are properties that are remodeled, repaired and with all the upgrades done on P2 but with Granite and more.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>DT</label></td>
        <td colspan="4">Deed of Trust</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FRBO</label></td>
        <td colspan="4">For Rent By Owner / FSBO - For Sale By Owner</td>
                    </tr>
            <tr>
        <td colspan="4"><label>REO</label></td>
        <td colspan="4">Real Estate Owned</td>
                    </tr>
            <tr>
        <td colspan="4"><label>LF</label></td>
        <td colspan="4">Low First (or Low First lien)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>LF/WO</label></td>
        <td colspan="4">Low First Without Second (or Low First Without Second lien)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>UPST</label></td>
        <td colspan="4">Upset Bid</td>
                    </tr>
            <tr>
        <td colspan="4"><label>CMA/ARV</label></td>
        <td colspan="4">Comparative Market Analysis / After Repair Value</td>
                    </tr>
            <tr>
        <td colspan="4"><label>DCA</label></td>
        <td colspan="4">Double Check Accuracy</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HUD</label></td>
        <td colspan="4">Housing &amp; Urban Development</td>
                    </tr>
            <tr>
        <td colspan="4"><label>LLC</label></td>
        <td colspan="4">Limited Liability Company</td>
                    </tr>
            <tr>
        <td colspan="4"><label>NC</label></td>
        <td colspan="4">North Carolina</td>
                    </tr>
            <tr>
        <td colspan="4"><label>IRS</label></td>
        <td colspan="4">Internal Revenue Service</td>
                    </tr>
            <tr>
        <td colspan="4"><label>MLS</label></td>
        <td colspan="4">Multiple Listing Service</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HOA</label></td>
        <td colspan="4">Homeowners Association</td>
                    </tr>
            <tr>
        <td colspan="4"><label>EST</label></td>
        <td colspan="4">Estimate</td>
                    </tr>
            <tr>
        <td colspan="4"><label>NOD</label></td>
        <td colspan="4">Notice of Default</td>
                    </tr>
            <tr>
        <td colspan="4"><label>NOS</label></td>
        <td colspan="4">Notice of Sale</td>
                    </tr>
            <tr>
        <td colspan="4"><label>RPFS</label></td>
        <td colspan="4">Report of Foreclosure Sale</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FORE</label></td>
        <td colspan="4">Notice of Hearing</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FAOF</label></td>
        <td colspan="4">Order of Forclosure</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FAFR</label></td>
        <td colspan="4">Final Report of Sale</td>
                    </tr>
            <tr>
        <td colspan="4"><label>DTC</label></td>
        <td colspan="4">Data Title Comp checker</td>
                    </tr>
            <tr>
        <td colspan="4"><label>SP</label></td>
        <td colspan="4">Special Proceedings</td>
                    </tr>
            <tr>
        <td colspan="4"><label>IM</label></td>
        <td colspan="4">Image Files or Image File person</td>
                    </tr>
            <tr>
        <td colspan="4"><label>CSC</label></td>
        <td colspan="4">Clerk of Superior Court</td>
                    </tr>
            <tr>
        <td colspan="4"><label>BSMT</label></td>
        <td colspan="4">Basement area</td>
                    </tr>
            <tr>
        <td colspan="4"><label>SF</label></td>
        <td colspan="4">Square feet</td>
                    </tr>
            <tr>
        <td colspan="4"><label>MLS</label></td>
        <td colspan="4">Multiple Listing Service</td>
                    </tr>
            <tr>
        <td colspan="4"><label>PRC</label></td>
        <td colspan="2">Property Record Card</td>
        <td colspan="2"><a target="_blank" href="https://www.co.iredell.nc.us/DocumentCenter/View/675">Property Record Card Codes for North Carolina Counties</a>&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://files.leecountync.gov/LinkClick.aspx?fileticket=rqy-UaIlVpY%3d&amp;tabid=255">Property Record Card Codes for North Carolina Counties</a></td>                    </tr>
            <tr>
        <td colspan="4"><label>TS</label></td>
        <td colspan="4">Trustee Sale or File Number (also means, Case Number)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>GSD</label></td>
        <td colspan="4">General Supply and Demand (the total number of comparable for sale &amp; sold properties in the area)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>ADOM</label></td>
        <td colspan="4">Average days on market (the average number of days that the property stayed for sale before it got sold)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>STR</label></td>
        <td colspan="4">Substitute Trustee (Notice of Foreclosure Sale)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>CONVENTIONAL MORTGAGE</label></td>
        <td colspan="4">is any type of homebuyer's loan that is not offered or secured by a government entity, like the Federal Housing Administration (FHA), the U.S. Department of Veterans Affairs (VA) or the USDA Rural Housing Service, but rather available through or guar</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FHA (FEDERAL HOUSING ADMINISTRATION)</label></td>
        <td colspan="4">is a mortgage issued by federally qualified lenders and insured by the Federal Housing Administration (FHA). FHA loans are designed for low-to-moderate income borrowers who are unable to make a large down payment.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>VA (VETERANS AFFAIRS)</label></td>
        <td colspan="4">is a mortgage loan in the United States guaranteed by the United States Department of Veterans Affairs (VA)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>USDA/RHS LOAN (RURAL HOUSING SERVICE)</label></td>
        <td colspan="4">An RHS loan is a type of financing made by or guaranteed by the United States Department of Agriculture Rural Housing Service (RHS). The RHS lends both directly to low income borrowers in rural areas and guarantees loans that meet RHS requirements ma</td>
                    </tr>
            <tr>
        <td colspan="4"><label>ARM (ADJUSTABLE RATE MORTGAGE)</label></td>
        <td colspan="4">is a type of mortgage in which the interest rate applied on the outstanding balance varies throughout the life of the loan. Normally, the initial interest rate is fixed for a period of time, after which it resets periodically, often every year or eve</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FIXED RATE LOAN</label></td>
        <td colspan="4">is a loan where the interest rate doesn't fluctuate during the fixed rate period of the loan. This allows the borrower to accurately predict their future payments.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>FNMA/FHLMC (FANNIE MAE/FREDDIE MAC)</label></td>
        <td colspan="4">are two entities established by the government to boost the housing market. These organizations are not only different in their genesis, but also in their target market and products. For example, Fannie Mae buys mortgages from large retail banks whil</td>
                    </tr>
            <tr>
        <td colspan="4"><label>SECOND LIEN/MORTGAGE</label></td>
        <td colspan="4">is a loan you take out using your house as collateral while you still have another loan secured by your house.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HOME EQUITY</label></td>
        <td colspan="4">is a type of second mortgage. Your ?first? mortgage is the one you used to purchase your home, but you can use additional loans to borrow against the property if you have built up enough equity.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HELOC (HOME EQUITY LINE OF CREDIT)</label></td>
        <td colspan="4">A home equity line of credit (HELOC) is a line of credit extended to a homeowner that uses the borrower's home as collateral. Borrowers are pre-approved for a certain spending limit, based on household income and credit score, and may draw on this li</td>
                    </tr>
            <tr>
        <td colspan="4"><label>PRIVATE LOAN</label></td>
        <td colspan="4">is a type of mortgage loan whereby funds can be sourced from another person or business rather than borrowing from a bank or other finance provider.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>REVERSE MORTGAGE</label></td>
        <td colspan="4">is a type of home loan for older homeowners that requires no monthly mortgage payments.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>203K REHAB LOAN</label></td>
        <td colspan="4">An FHA 203(k) rehab loan, also referred to as a renovation loan, enables homebuyers and homeowners to finance both the purchase or refinance along with the renovation of a home through a single mortgage.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>OPEN END LOAN</label></td>
        <td colspan="4">-is a preapproved loan between a financial institution and borrower that may be used repeatedly up to a certain limit and can subsequently be paid back prior to payments coming due. The preapproved amount will be set out in the agreement between the </td>
                    </tr>
            <tr>
        <td colspan="4"><label>CLOSED-END LOAN</label></td>
        <td colspan="4">is a loan or extension of credit in which the proceeds are dispersed in full when the loan closes and must be repaid by a specified date.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HOA LIEN</label></td>
        <td colspan="4">(NOT A LOAN TYPE BUT FOR THE PURPOSE OF TRACKING ALL HOA SALES, WE'LL ADD THIS IN THE LOAN TYPE).. IT REFERS TO HOMEOWNERS ASSOCIATION, PROPERTY OWNERS ASSOCIATION, COMMUNITY OWNERS ASSOCIATION, LIEN)</td>
                    </tr>
            <tr>
        <td colspan="4"><label>TAX LIEN</label></td>
        <td colspan="4">ALSO NOT A LOAN TYPE BUT FOR THE PURPOSE OF TRACKING TAX SALE FORECLOSURES, WE'LL ADD THIS IN THE LOAN TYPE.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>HUD (HOUSING &amp; URBAN DEVELOPTMENT)</label></td>
        <td colspan="4">HUD insures mortgage loans for families with poor credit or financial struggles, giving mortgage lenders an incentive to extend loans to borrowers with high default risks.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>PURCHASE MONEY</label></td>
        <td colspan="4">A purchase-money mortgage is a note secured by a mortgage or deed of trust given by a buyer, as borrower, to a seller, as lender, as part of the purchase price of the real estate. It is a method of financing a home in which buyer borrows from the sel</td>
                    </tr>
            <tr>
        <td colspan="4"><label>LDTU</label></td>
        <td colspan="4">last day to upset</td>
                    </tr>
            <tr>
        <td colspan="4"><label>NB</label></td>
        <td colspan="4">next bid</td>
                    </tr>
            <tr>
        <td colspan="4"><label>CB</label></td>
        <td colspan="4">current bid</td>
                    </tr>
            <tr>
        <td colspan="4"><label>First Meetup Disclosures</label></td>
        <td colspan="2">Link:</td>
        <td colspan="2"><a target="_blank" href="media/pdf/Timbra_Wholesale_Buyers_First_Meeting_Disclosures_Protocal.pdf">Timbra Wholesale Buyers First Meeting Disclosures Protocal.pdf</a></td>                    </tr>
            <tr>
        <td colspan="4"><label>States Permitting Series LLC</label></td>
        <td colspan="4">The series LLC is a creation of the state. Only in certain states are series LLCs allowed to be formed. Delaware was the first state to enact legislation authorizing the creation of series LLCs. Several states have followed suit including Illinois, I</td>
                    </tr>
            <tr>
        <td colspan="4"><label>Series LLC</label></td>
        <td colspan="4">A series LLC is a unique form of limited liability company ("LLC") in which the articles of formation specifically allow for unlimited segregation of membership interests, assets, and operations into independent series. Each series operates like a se</td>
                    </tr>
            <tr>
        <td colspan="4"><label>CONFIRMED BID</label></td>
        <td colspan="4">Here is an example of what everyone should be getting once they confirm on the bid. 
        <p>1. You contact the Trustee and request an extension to close on the property of 30 days when it is around 9 days after the sale has confirmed. </p>
        2. Then you should request a confirmation of bid letter and get it to the closing attorney so that they can get the necessary documentation to close.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>Bidding at the Steps</label></td>
        <td colspan="4">When you bid at the steps you pay the trustee DIRECTLY.
        If the bid gets upset.
        Then the trustee will send your deposit back to you at the address that was used on the bid sheet.
        If you bid at the steps and then you decide to upset the bid latter.
        If you time it right it may look like this.
        You bid at the steps.
        Time tolls.
        Then someone upsets and the 10 days starts over.
        The minute the upset happens then the trustee needs to send your deposit back.
        If you reach out or have Jeya reach out, then you can push them to get the deposit back
        If you get the deposit back before the 10 days is up then you can use that deposit money to bid again.
        If someone else upsets and their is margins then it strarts the 10 days over again.
        This give you even more time to get your deposit back.
        Once you have upset the bid.
        The money goes to the county.
        If you want to upset again, then you will have to pay the difference of that upset bid to the county
        A few counties keep your money and send it back to you at which you would need to tender another upset bid.
        Cumberland County is the exception.
        Each time  you bid at the county.
        If someone upsets you they send your deposit back.
        In which case you have to take the full amount to Cumberland to bid.
        Also, once your money is placed at the county
        It is not refunded until you close on the property.
        If you default it can be potentially forfeited depending on what it goes back to sale for and bids up to.
        When you close on the property you must pay the full amount of bid to the trustee.
        And then, the trustee will send a Final Report of Sale to the County.
        You must get a hold of the Trustee administrator that you got your extension from to push them to file this document.
        This document NOT BEING FILED
        CAN HOLD UP YOUR DEPOSIT
        CAN HOLD UP THE EVICTION PROCESS.
        You can have Jeya call daily
        I would find out who your administrator is and push them daily to get the Final Report of Sale Filed ASAP
        This can create major heart burn, slow  your whole project up and it can slow up  your deposit just the same.</td>
                    </tr>
            <tr>
        <td colspan="4"><label>IF YOU BRING THE LOAN CURRENT</label></td>
        <td colspan="4">Then all bid deposits even if you defaulted on the bid would need to be refunded.
        In this case the Trustee administrator will have to file a Dismissal or Cancellation of the foreclosure file.
        Once this is done then you can get your deposit back.
        If you do not keep on the trustee this could take months or even years to get back if you are not on it.

        "Anything I say will not be used against me In a court of law.
        Do not believe anything I say. Go and check with your attorney. End Disclosure." -Craig Broooksby</td>
                    </tr>
            <tr>
        <td colspan="4"><label>Listing &amp; Selling Protocol's</label></td>
        <td colspan="4">20+ Points of Listing &amp; Selling Protocol's. for more detail click  <a href="javascript:;" id="moreInfo">Here</a></td>
                    </tr>

    </tbody>
    </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
