
<form [formGroup]="assessmentForm" [appDisableElement]="assessmentForm" *ngIf="!propErr">
  <fieldset>
      <legend>Assessment & Taxes</legend>
      <!-- one row start-->
      <div class="form-group row m-b-1  _property_info">
         
          <!-- Tax Owed -->
          <div class="col-md-12">
            <div formArrayName="owed_tax_data">
              <!-- Row Start -->
              <div  [formGroupName]="i"  *ngFor="let taxObj of assessmentForm.get('owed_tax_data')['controls']; let i = index;">
                <div id="{{i}}" class="form-group row m-b-1 parent-loader">
                    <app-loader *ngIf="currentIndex==i" [loading]="loading"></app-loader>
                      <div class="col-md-2">
                        <div class="col-form-label flt-l">Property Tax Owed</div>
                        <input type="text" formControlName="property_taxes_owed" [ngClass]="{ 'is-invalid': submitted && taxObj.controls.property_taxes_owed.errors }" class="form-control m-b-0 assess-cls" (change)="calculateTotal()" appOnBlurSave (updatedValue)="autoSave($event)"/>
                        <div *ngIf="taxObj.controls.property_taxes_owed.errors" class="invalid-feedback clr-bth ">
                          <div *ngIf="taxObj.controls.property_taxes_owed.errors.required">Property Tax Owed is required</div>
                      </div>
                      </div>
                      <div class="col-md-2">
                          <div class="col-form-label  flt-l">Owed Year</div>
                            <input type="text" formControlName="property_taxes_owed_year" [ngClass]="{ 'is-invalid': submitted && taxObj.controls.property_taxes_owed_year.errors }" class="form-control m-b-0 assess-cls" appOnBlurSave (updatedValue)="autoSave($event)" /> 
                            <div *ngIf="taxObj.controls.property_taxes_owed_year.errors" class="invalid-feedback clr-bth">
                              <div *ngIf="taxObj.controls.property_taxes_owed_year.errors.required">Owed Year is required</div>
                            </div>
                      </div>
                      <div class="col-md-2">
                        <div class="col-form-label flt-l">Tax Assessed</div>
                        <input type="text" formControlName="taxes_assessed" [ngClass]="{ 'is-invalid': submitted && taxObj.controls.taxes_assessed.errors}" class="form-control m-b-0 assess-cls" appOnBlurSave (updatedValue)="autoSave($event)"/>
                        <div *ngIf="taxObj.controls.taxes_assessed.errors" class="invalid-feedback clr-bth">
                          <div *ngIf="taxObj.controls.taxes_assessed.errors.required">Tax assessed is required</div>
                      </div>
                      </div>
                      <div class="col-md-2">
                        <div class="col-form-label  flt-l">Tax Year</div>
                          <input type="text" formControlName="taxes_year" [ngClass]="{ 'is-invalid': submitted && taxObj.controls.taxes_year.errors}" class="form-control m-b-0 assess-cls"  appOnBlurSave (updatedValue)="autoSave($event)"/> 
                          <div *ngIf="taxObj.controls.taxes_year.errors" class="invalid-feedback clr-bth">
                          <div *ngIf="taxObj.controls.taxes_year.errors.required">Tax year is required</div>
                        </div>
                      </div>
                      <div class="col-md-2">&nbsp;</div>
                      <div class="col-md-1" *ngIf="assessmentForm.get('owed_tax_data')['controls'].length == (i+1)">
                          <div class="col-form-label">&nbsp;</div>
                          <button (click)="assessmentInfo()" class="form-control btn btn-sm btn-primary">View More</button> 
                      </div>
                      <div class="col-md-1" *ngIf="assessmentForm.get('owed_tax_data')['controls'].length == (i+1)">
                        <div class="col-form-label">&nbsp;</div>
                        <button  *hideElement="true" class="form-control btn btn-sm btn-primary" (click)="validateTaxOwedForm(assessmentForm)">
                          Save<i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
                        </button>
                    </div>
                </div>
                <!-- Row End -->
              </div>
              <div class="form-group row m-b-1">
                  <div class="col-md-6">
                    <div class="col-form-label flt-l">
                      <h4>Total property taxes owed : <span class="font-weight-bold">{{calculateTotal()}}</span></h4> 
                      <span></span>
                    </div>
                  </div>
              </div> 
            </div>
          </div>
          <!-- Tax Owed -->
      </div>
      <!-- one row end -->
    </fieldset>
</form>


