

<form [formGroup]="shoolForm" [appDisableElement]="shoolForm" *ngIf="!propErr" class="_property_info parent-loader">
    <div *ngIf="loading"  class="child-loader"><span class="spinner-small "></span></div>

    <fieldset>
    <legend>Schools & Neighborhood</legend>
    <!-- one row start-->
    <div class="form-group row m-b-5">
      <div class="col-md-2">
        <label class="col-form-label">Elementary School</label>
        <input type="text" formControlName="elementary_school" class="form-control m-b-0" appOnBlurSave (updatedValue)="autoSave($event)"/>
      </div>
      <div class="col-md-2">
        <label class="col-form-label">Ranking</label>
        <input type="text" formControlName="elementary_ranking" class="form-control m-b-0" appOnBlurSave (updatedValue)="autoSave($event)" />          
      </div>
      <div class="col-md-2">
        <label class="col-form-label">Distance</label>
        <input type="text" formControlName="elementary_distance" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)" />
      </div>
    </div>
    <!-- one row end -->
    <!-- one row start-->
    <div class="form-group row m-b-5">
        <div class="col-md-2">
            <label class="col-form-label">Middle School</label>
            <input type="text" formControlName="middle_school" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)" />          
          </div>
        <div class="col-md-2">
          <label class="col-form-label">Ranking</label>
          <input type="text" formControlName="middle_ranking" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)"/>
        </div>
        
        <div class="col-md-2">
          <label class="col-form-label">Distance</label>
          <input type="text" formControlName="middle_distance" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)" />
        </div>
    </div>
      <!-- one row end -->
    <!-- one row start-->
    <div class="form-group row m-b-5">
        <div class="col-md-2">
          <label class="col-form-label">High School</label>
          <input type="text" formControlName="high_school" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)"/>
        </div>
        <div class="col-md-2">
          <label class="col-form-label">Ranking</label>
          <input type="text" formControlName="high_ranking" class="form-control m-b-0"   appOnBlurSave (updatedValue)="autoSave($event)"/>          
        </div>
        <div class="col-md-2">
          <label class="col-form-label">Distance</label>
          <input type="text" formControlName="high_distance" class="form-control m-b-0"  appOnBlurSave (updatedValue)="autoSave($event)" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
          <div class="col-md-2">
          <label class="col-form-label">&nbsp;</label>
          <button type="button" *hideElement="true" (click)="validateForm(this.shoolForm)" class="form-control m-b-0 btn btn-sm btn-primary" value="Save"  >Save
            <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
          </button>
        </div>   
    </div>
      <!-- one row end -->
    </fieldset>
</form>
