<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">MLS 1</label>
                <input type="text" formControlName="mls_1" class="form-control m-b-0"  />            
        </div> 
        
        
        <div class="col-md-2">
                <label class="col-form-label">MLS URL</label>
                <input type="text" formControlName="mls_url" class="form-control m-b-0"  />            
        </div>  

        <div class="col-md-2">
                <label class="col-form-label">MLS #</label>
                <input type="text" formControlName="mls_#" class="form-control m-b-0"  />            
        </div>  

        <div class="col-md-2">
                <label class="col-form-label">Listing Price:</label>
                <input type="text" formControlName="listing_price:" class="form-control m-b-0"  />            
        </div>  


        <div class="col-md-2">
                <label class="col-form-label">Listing Date::</label>
                <input type="text" formControlName="listing date::" class="form-control m-b-0"  />            
        </div>  
</div>