<p class="pt-2 pb-2  pl-2" style="background:#989867;">Your Amounts in for this property are below</p>
  <div class="row p-b-10">
      <div class="col-md-3">
            Estimated Amount In : {{wholesale_buyer_n_total?.est_amount}}
      </div>
      <div class="col-md-3">
            Estimated Profit : {{wholesale_buyer_n_total?.est_profit}}
      </div>
      <div class="col-md-3">
            Estimated Payoff Amount : {{wholesale_buyer_n_total?.est_payoff_amount}}
      </div>
      <div class="col-md-3">
          Deposit Wired : N/A 
      </div>
  </div>
  <div class="row p-b-10">
        <div class="col-md-3">
            Actual Amount In : {{wholesale_buyer_n_total?.act_amount}}
        </div>
        <div class="col-md-3">
            Actual Profit : {{wholesale_buyer_n_total?.act_profit}}
        </div>
        <div class="col-md-3">
            Actual Payoff Amount : {{wholesale_buyer_n_total?.act_payoff_amount}}
        </div>
        <div class="col-md-3">
            Deposit Wired : N/A 
        </div>
    </div>
  <div class="row p-b-10">
      <div class="col-md-3">
          Estimated Days Start to Finish :
      </div>
      <div class="col-md-3">
          Actual Days Start to Finish : 
      </div>
      <div class="col-md-3">
          Entity Taking Title : 
      </div>
      <div class="col-md-3">
          Deposit Wired Date : N/A
      </div>
  </div>
  <div class="row p-b-10">
      <div class="col-md-3">
          Days on Market : :
      </div>
      <div class="col-md-3">
          Paid By :
      </div>
      <div class="col-md-3">
          Deposit Wired Date :
      </div>
      <div class="col-md-3">
      
      </div>
  </div>