
<app-attention-warning></app-attention-warning>
  <div class="card row parent-loader">
    <div *ngIf="loading"  class="child-loader"><span class="spinner-small "></span></div>
    <div class="row col-md-12 p-t-20">
      <div class="col-md-6">
          <p>
            <strong>
              Please select the State you want.<br/>
            </strong> 
              Disclaimer: Selecting "All" means you want to receive all Type of Sale and in all counties on that State. 
             
          </p>
        <form [formGroup]="inviteSettingFormOne">

          <div class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">Type of sale choices</label>
            </div>
            <div class="col-md-6">
              <select formControlName="sale_type" [ngClass]="{ 'is-invalid': submitted && f.sale_type.errors }" class="form-control m-b-0" >
                <option value="">Select type of sale choices</option>
                <option [value]="sale_opt.key" *ngFor="let sale_opt of sale_type_option | keyvalue">{{sale_opt.value}}</option>
              </select>  
            </div>  
          </div>

          <div class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">State</label>
            </div>
            <div class="col-md-6">
              <select class="form-control" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"  (change)="getCountyList($event.target.value)" >
                <option value="">Please select the State you want</option>
                <option [value]="state.key" *ngFor="let state of states | keyvalue">{{state.value}}</option>
              </select>  
            </div>
          </div>
          <div  *ngIf="user_info.current_role=='admin'" class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">wholesale buyer</label>
            </div>
            <div class="col-md-6">
              <select class="form-control" formControlName="user_id" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" >
                <option [value]="buyer.id" *ngFor="let buyer of wholesale_buyer_list">{{buyer.first_name +' '+ buyer.last_name}}</option>
              </select>  
            </div>
          </div>
          <div class="form-group row m-b-10">
            <div class="col-md-10 pull-right">
              <button type="button" (click)="validateForm(this.inviteSettingFormOne)" class=" btn btn-sm btn-primary pull-right" value="Save"  >
                Save Setting
              </button> 
            </div>
          </div> 
        </form>
      </div>

      <div class="col-md-6">
        <p>
        <strong>Please select the County or Counties you want.</strong><br/>
        Disclaimer: You will only receive the Type of Sale, State and County of your choice on your email.  
        </p>
        <form [formGroup]="inviteSettingFormSecond">
          
          <div class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">Type of sale choices</label>
            </div>
            <div class="col-md-6">
              <select formControlName="sale_type" [ngClass]="{ 'is-invalid': submitted1 && g.sale_type.errors }" class="form-control m-b-0" >
              <option value="">Select type of sale choices</option>
              <option [value]="sale_opt.key" *ngFor="let sale_opt of sale_type_option | keyvalue">
              {{sale_opt.value}}</option></select>        
            </div> 
          </div>
          <div class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">State</label>
              </div>
              <div class="col-md-6">
                <select class="form-control" formControlName="state" [ngClass]="{ 'is-invalid': submitted1 && g.state.errors }"  (change)="getCountyList($event.target.value)" >
                  <option value="">Please select the State you want</option>
                  <option [value]="state.key" *ngFor="let state of states | keyvalue">{{state.value}}</option>
                </select>
              </div>
          </div>
          <div class="form-group row m-b-10">
              <div class="col-md-4">
                <label class="col-form-label">County</label>
              </div>
              <div class="col-md-6">
                <select class="form-control" formControlName="county" [ngClass]="{ 'is-invalid': submitted1 && g.county.errors }" >
                  <option value="">Please select the Counties you want</option>
                  <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                </select>
              </div>
          </div>
          <div *ngIf="user_info.current_role=='admin'" class="form-group row m-b-10">
            <div class="col-md-4">
              <label class="col-form-label">wholesale buyer</label>
            </div>
            <div class="col-md-6">
              <select class="form-control" formControlName="user_id" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" >
                <option [value]="buyer.id" *ngFor="let buyer of wholesale_buyer_list">{{buyer.first_name +' '+ buyer.last_name}}</option>
              </select>  
            </div>
          </div>
          <div class="form-group row m-b-10">
            <div class="col-md-10 pull-right">
              <button type="button" (click)="validateForm(this.inviteSettingFormSecond)"class=" btn btn-sm btn-primary pull-right" value="Save"  >
                Save Setting
              </button> 
            </div>
          </div>
         
        </form>
      </div>
    </div>
    <div *ngIf="user_info.current_role=='admin'" class="col-md-6">
      <div class="form-group row m-b-10">
        <!-- <div class="col-md-12"> -->
          <div class="col-md-4">
            <label class="col-form-label">wholesale buyer</label>
          </div>
          <div class="col-md-6">
            <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" (change)="getResultList($event.target.value)" >
              <option [value]="buyer.id" *ngFor="let buyer of wholesale_buyer_list">{{buyer.first_name +' '+ buyer.last_name}}</option>
            </select>  
          </div>
        <!-- </div> -->
      </div>
    </div>
     

    <div class="row col-md-12 p-t-20 p-b-40">
        <div class="col-md-6">
          <div class="form-group row m-b-10">
            <mat-chip-list aria-label="Fish selection">
              <div *ngFor="let inviteSetting of inviteSettingResult">
                <mat-chip *ngIf="inviteSetting.request_type==1" [selectable]="selectable" [removable]="removable">
                   <ng-container *ngIf="user_info.current_role=='admin'">{{inviteSetting?.user?.first_name+' '+inviteSetting?.user?.last_name}} - </ng-container>
                    {{sale_type_option[inviteSetting?.sale_type]}} - {{inviteSetting?.state}}
                    <mat-icon matChipRemove (click)="removeInviteSetting(inviteSetting.id)">cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row m-b-10">
            <mat-chip-list aria-label="Fish selection">
              <div *ngFor="let inviteSetting of inviteSettingResult">
                <mat-chip *ngIf="inviteSetting.request_type==2" [selectable]="selectable" [removable]="removable">
                  <ng-container *ngIf="user_info.current_role=='admin'">{{inviteSetting?.user?.first_name+' '+inviteSetting?.user?.last_name}} - </ng-container>
                    {{sale_type_option[inviteSetting.sale_type]}} - {{inviteSetting.state}} - {{inviteSetting.county}}
                    <mat-icon  matChipRemove (click)="removeInviteSetting(inviteSetting.id)" >cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
          </div> 
        </div>
    </div>
  </div>


      
     
  
    

