/* 
	.pro {
		margin: 0 auto;
		width: 210px;
	}

	.pro label{
		display: inline-block;
		text-align: right;
		float: left;
	}

	.pro select{
		display: inline-block;
		text-align: left;
		float: right;
	}
         */