
<panel [collapse]='collapse' title="HOA Lien" [appHideContent]="mortgageHoaForm" (checkContentEvent)="showHidePanel($event)">
  <form [formGroup]="mortgageHoaForm" *ngIf="!propErr" [appDisableElement]="mortgageHoaForm" class="parent-loader _property_info">
      <div *ngIf="loading"  class="child-loader"><span class="spinner-small "></span></div>
      <fieldset>
        <input type="hidden" formControlName="mortgage_id" />            
        <!-- <legend>HOA Lien</legend> -->
        <!-- one row start-->       
        <div class="form-group row m-b-5">          
          <div class="col-md-2">
            <div class="checkbox checkbox-css">
              <input type="checkbox" id="defective_notice_{{hoa}}" formControlName="defective_notice_hoa" (change)="defectiveLien($event)">    
              <label for="defective_notice_{{hoa}}">Defective Notice HOA Lien</label>         
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkbox checkbox-css">
              <input type="checkbox" id="hoa_lien_foreclosing" formControlName="hoa_lien_foreclosing" >    
              <label for="hoa_lien_foreclosing">HOA Lien Foreclosing</label>         
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkbox checkbox-css">
              <input type="checkbox" id="manual_search_hoa" formControlName="manual_search_hoa" (change)="manualSearchHoa($event)">    
              <label for="manual_search_hoa">Manual Search HOA</label>         
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkbox checkbox-css">
              <input type="checkbox" id="HoaNoStr" formControlName="no_str" (change)="noStr($event)">    
              <label for="HoaNoStr">No STR</label>         
            </div>
          </div> 
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-1">
              <app-common-notes [note_name]="notes_btn.note_name" [noteSetting]="notes_btn" (updateNotesDetail)="updatedNotes($event)"></app-common-notes>
          </div>  
          <div *ngIf="sale_info && hoaSaleType.includes(sale_info.sale_type)" class="col-md-2">
            <label class="col-form-label">
              <a href="javascript:;" (click)="viewSaleInfo()">View Notice of Foreclosure</a>
            </label>
          </div>    
        </div>
        <!-- one row end -->
        <div *ngIf="!manualSearchFlag">
            <!-- one row start-->       
          <div class="form-group row m-b-5">
            <div class="col-md-2">
              <label class="col-form-label">HOA Name</label>
              <input type="text" class="form-control m-b-0" formControlName="hoa_name" appOnBlurSave (updatedValue)="autoSave($event)"/> 
            </div>
            <div class="col-md-2">
              <label class="col-form-label">HOA Lien Amount</label>
              <input type="text" class="form-control m-b-0" formControlName="hoa_lien_amount" appOnBlurSave (updatedValue)="autoSave($event)"/> 
            </div> 
            <div class="col-md-2">
              <label class="col-form-label">Date of HOA Lien</label>
              <my-date-picker name="date_of_hoa_lien" [options]="myDatePickerOptions" formControlName="date_of_hoa_lien"  (dateChanged)="onDateChanged($event,hoaLienDateInput)" #hoaLienDateInput placeholder="MM/DD/YYYY"></my-date-picker>
            </div>
            <div class="col-md-2">
              <label class="col-form-label">HOA Lien Book/Page</label>
              <input type="text" class="form-control m-b-0" formControlName="hoa_lien_book_page" appOnBlurSave (updatedValue)="autoSave($event)"/> 
            </div>  
            <div class="col-md-2">
              <label class="col-form-label">Trustee HOA</label>
              <input type="text" class="form-control m-b-0" formControlName="trustee_hoa" appOnBlurSave (updatedValue)="autoSave($event)"/> 
            </div>
            <div class="col-md-2">
              <label class="col-form-label">Total Debt</label>
              <div class="position-relative">
                <input type="text" class="form-control m-b-0" formControlName="total_debt"  appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>
            </div>
          </div>
          <!-- one row end -->
          <div class="form-group row m-b-5" *ngIf="!noStrChecked">
              <div class="col-md-2">
                  <label class="col-form-label">STR Date</label>
                  <my-date-picker name="str_date" [options]="myDatePickerOptions" formControlName="str_date"  (dateChanged)="onDateChanged($event,strDateInput)" #strDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>
              <div class="col-md-2">
                  <label class="col-form-label">STR Book/Page</label>
                  <input type="text" class="form-control m-b-0" formControlName="str_book_page" appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>
              <div class="col-md-2">
                  <label class="col-form-label">CC&Rs Instrument #</label>
                  <input type="text" class="form-control m-b-0" formControlName="dcc_rs_instrument"appOnBlurSave (updatedValue)="autoSave($event)" /> 
              </div>
              <div class="col-md-2">
                  <label class="col-form-label">CC&Rs Date</label>
                  <my-date-picker [options]="myDatePickerOptions" formControlName="dcc_rs_date"  (dateChanged)="onDateChanged($event,dccDateInput)" #dccDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>
              <div class="col-md-2">
                  <label class="col-form-label">&nbsp;</label>
                  <div>
                    <app-common-notes [note_name]="hoa_lien_priorty_btn.note_name" [noteSetting]="hoa_lien_priorty_btn"  (updateNotesDetail)="updatedNotes($event)"></app-common-notes>
                  </div>
              </div>
              <div class="col-md-2">
                  <label class="col-form-label">&nbsp;</label>
                  <div>
                    <app-common-notes [note_name]="hoa_rental_policy_btn.note_name" [noteSetting]="hoa_rental_policy_btn"  (updateNotesDetail)="updatedNotes($event)"></app-common-notes>
                  </div>
              </div>
          </div>
          <div class="form-group row m-b-5">
            <div class="col-md-2">
              <label class="col-form-label">
                Estimate Excess Funds
              </label>
              <input type="text" class="form-control m-b-0" formControlName="es_excess_funds" appOnBlurSave (updatedValue)="autoSave($event)"/> 
            </div> 
          </div>
          
               <!-- one row start-->       
            <div class="form-group row m-b-5">
              <div class="col-md-4">          
                <div class="checkbox checkbox-css">               
                  <input type="checkbox" id="LinehoaForeclosureRes_{{lien}}" formControlName="foreclosure_result" [checked]="hoaLienFor" (change)="hoaLienFor = !hoaLienFor" >    
                  <label for="LinehoaForeclosureRes_{{lien}}">FORECLOSURE RESULT</label>         
                </div>
              </div>
              <div class="col-md-4"></div>                                 
            </div>
            <!-- one row end -->
        
            <!-- one row start-->       
            <div class="form-group row m-b-5" *ngIf="hoaLienFor">
              <div class="col-md-2">
                <label class="col-form-label">TRDeed Instrument #</label>
                <input type="text" class="form-control m-b-0" formControlName="trdeep_instrument" appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>
              <div class="col-md-2">
                <label class="col-form-label">TRDeed Date</label>
                <my-date-picker [options]="myDatePickerOptions" formControlName="trdeed_date"  (dateChanged)="onDateChanged($event,trDateInput)" #trDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>
              <div class="col-md-2">
                <label class="col-form-label">Winning Bidder</label>
                <input type="text" class="form-control m-b-0" formControlName="winning_bidder" appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>
              <div class="col-md-2">
                <label class="col-form-label">Winning Bid $</label>
                <input type="text" class="form-control m-b-0" formControlName="winning_bid" appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>
                                 
            </div>
            <!-- one row end -->
            <!-- one row start-->       
            <div class="form-group row m-b-5">
              <div class="col-md-4">          
                <div class="checkbox checkbox-css">               
                  <input type="checkbox" id="redemptionInfo_hoa" formControlName="redemption_info" [checked]="hoaLienRed" (change)="hoaLienRed = !hoaLienRed" >    
                  <label for="redemptionInfo_hoa">REDEMPTION INFO</label>         
                </div>
              </div>
              <div class="col-md-4"></div>                                 
            </div>
               
            <div class="form-group row m-b-5" *ngIf="hoaLienRed">
             
              <div class="col-md-2">
                <label class="col-form-label">Affidavit (APM) Date</label>
                <my-date-picker name="affidavit_date" [options]="myDatePickerOptions" formControlName="affidavit_date"  (dateChanged)="onDateChanged($event,affDateInput)" #affDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>
              <div class="col-md-2">
                <label class="col-form-label">Tax Code</label>
                <select name="1stLien_tax_code" id="1stLien_tax_code" formControlName="tax_code"  class="form-control m-b-0"  (change)="selectTaxCode($event,redDateInput)"  appOnBlurSave (updatedValue)="autoSave($event)">
                    <option value="0">Select Tax Code</option>
                    <option [value]="code.key" *ngFor="let code of tax_code | keyvalue">{{code.value}}</option>
                </select>
              </div> 
              
              <div class="col-md-2">
                <label class="col-form-label">Redemption Expires</label>
                <my-date-picker [options]="myDatePickerOptions" formControlName="redemption_expires"  (dateChanged)="onDateChanged($event,redDateInput)" #redDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>  
            
            
              <div class="col-md-2">
                <label class="col-form-label">&nbsp;</label>
                <div class="checkbox checkbox-css">               
                  <input type="checkbox" id="red_by_owner" formControlName="red_by_owner"  >    
                  <label for="red_by_owner">Redeemed By Owner</label>         
                </div>
              </div>
              
             
              <div class="col-md-2">
                <label class="col-form-label">Redemption Notice Inst #</label>
                <input type="text" class="form-control m-b-0" formControlName="redemption_notice" appOnBlurSave (updatedValue)="autoSave($event)"/> 
              </div>

              <div class="col-md-2">
                <label class="col-form-label">Redemption Date</label>
                <my-date-picker [options]="myDatePickerOptions" formControlName="redemption_date"  (dateChanged)="onDateChanged($event,redeDateInput)" #redeDateInput placeholder="MM/DD/YYYY"></my-date-picker>
              </div>   
                               
            </div>
            <!-- one row end -->

          <app-common-notes [note_name]="notes_detail.note_name" [noteSetting]="notes_detail" [resetFormSubject]="resetFormSubject.asObservable()"></app-common-notes>

          <app-common-notes [note_name]="hoa_lien_priorty_detail.note_name" [noteSetting]="hoa_lien_priorty_detail" [resetFormSubject]="resetFormSubject.asObservable()"></app-common-notes>

         
         <app-common-notes [note_name]="hoa_rental_policy_detail.note_name" [noteSetting]="hoa_rental_policy_detail" [resetFormSubject]="resetFormSubject.asObservable()"></app-common-notes>
          
         <app-defective-notes-detail [property_id]="property_id" [lien_type]="defectiveNotesLine"></app-defective-notes-detail>


          <app-document 
            [document_type_list]="property_document_type_list"
            [property_id]="property_id" 
            [document_info]="lienHoaData.mortgage_hoa_document" 
            document_url="mortgage_hoa_document" 
            [mortgage_id]="lienHoaData.mortgage_id" 
            doc_primary_key="document_mortgage_hoa_id" 
            [doc_count_id]="lien"></app-document>
          
        <!-- one row start-->       
          <div class="form-group row m-b-5">
            <div class="col-md-2">
              <label class="col-form-label">Property Signature</label>             
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">
                <input type="checkbox" id="HoaOwner1" formControlName="prop_sign_owner_1">    
                <label for="HoaOwner1">Owner 1</label>         
              </div> 
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">
                <input type="checkbox" id="HoaOwner2" formControlName="prop_sign_owner_2" >    
                <label for="HoaOwner2">Owner 2</label>         
              </div>
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">
                <input type="checkbox" id="HoaOwner3" formControlName="prop_sign_owner_3" >    
                <label for="HoaOwner3">Owner 3</label>         
              </div>
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">
                <input type="checkbox" id="HoaOwner4" formControlName="prop_sign_owner_4" >    
                <label for="HoaOwner4">Owner 4</label>         
              </div>
            </div>                    
          </div>
          <!-- one row end -->
  
          <!-- one row start-->       
          <div class="form-group row m-b-5">
            <!-- <div class="col-md-4">
              <div class="checkbox checkbox-css">               
                <input type="checkbox" id="HoaCompanyCurr" formControlName="company_not_ct_rcd" >    
                <label for="HoaCompanyCurr">Company Not Current at time of Recording Deed of Trust</label>         
              </div>
            </div> -->
            <div class="col-md-2">
              <div class="checkbox checkbox-css">               
                <input type="checkbox" id="HoaDtcFirCheck" formControlName="dtc_first_check" >    
                <label for="HoaDtcFirCheck">DTC - First Check</label>         
              </div>
              <div [innerHTML]="amortization.get_checked_info(lienHoaData.check_by,1)"></div>  
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">               
                <input type="checkbox" id="HoaDtcSecCheck" formControlName="dca_second_check" >    
                <label for="HoaDtcSecCheck">DCA - Second Check</label>         
              </div>
              <div [innerHTML]="amortization.get_checked_info(lienHoaData.check_by,2)"></div>  
  
            </div>
            <div class="col-md-2">
              <div class="checkbox checkbox-css">               
                <input type="checkbox" id="HoaDtcFinCheck" formControlName="dca_final_check" >    
                <label for="HoaDtcFinCheck">DCA - Final Check</label>         
              </div>
              <div [innerHTML]="amortization.get_checked_info(lienHoaData.check_by,3)"></div>  
            </div> 
            <!-- <div class="col-md-2">
              <div class="checkbox checkbox-css">               
                <input type="checkbox" id="HoaLynnFinCheck" formControlName="lynn_final_check" >    
                <label for="HoaLynnFinCheck">Title Verified by Lynn</label>         
              </div>
              <div [innerHTML]="amortization.get_checked_info(lienHoaData.check_by,4)"></div>  
            </div>    -->
                             
          </div>
          <!-- one row end -->
        </div>
        <div class="form-group row m-b-5">
            <div class="col-md-10"></div>
            <div class="col-md-2" *hideElement="true">
              <button type="button" (click)="validateForm(this.mortgageHoaForm)" class="form-control m-b-0 btn btn-sm btn-primary" value="Save"  >Save
                <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
              </button>
          </div> 
        </div>
      </fieldset>
  </form>
</panel>