<app-attention-warning></app-attention-warning>

  <div class="login card row" style="margin:0px;position:relative;">
      <div class="login-content" *ngIf="!loading">
          <form [formGroup]="changePasswordForm" class="margin-bottom-0">
              <div class="form-group row m-b-20">
                  <label class="col-form-label col-md-4">Old Password</label>
                  <div class="col-md-8">
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength || f.password.errors.pattern">Password not valid</div>
                      </div>
                  </div>
              </div>
              <div class="form-group row m-b-20">
                  <label class="col-form-label col-md-4">New Password</label>
                  <div class="col-md-8">
                    <input type="password" formControlName="new_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
                    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                        <div *ngIf="f.new_password.errors.required">Password is required</div>
                        <div *ngIf="f.new_password.errors.minlength || f.new_password.errors.pattern">Password not valid</div>
                    </div>
                  </div>
              </div>
              <div class="form-group row m-b-20">
                  <label class="col-form-label col-md-4">Confirm Password</label>
                  <div class="col-md-8">
                    <input type="password" formControlName="conf_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.conf_password.errors }" />
                    <div *ngIf="submitted && f.conf_password.errors" class="invalid-feedback">
                        <div *ngIf="f.conf_password.errors.required">Confirm Password is required</div>
                      </div>
                      <div *ngIf="submitted && this.changePasswordForm.hasError('notSame')"  class="invalid-feedback">
                        Passwords do not match
                    </div>
                  </div>
              </div>
              <div class="form-group row m-b-20">
                  <div class="col-md-8"></div>
                  <div class="col-md-4">
                    <button type="submit" class="form-control m-b-0 btn btn-sm btn-primary" (click)="validateForm(this.changePasswordForm)">
                      Submit
                      <i *ngIf="loader" class="fa fa-spin fa-spinner"></i> 
                    </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
