
<fieldset>  
        <legend>{{title}}</legend> 
        <div *ngFor="let category of payoutCategoryList" class="form-group row m-b-5">         
                <div class="col-md-3">
                        <label class="col-form-label font-weight-normal">{{ category?.category_name }} </label>
                </div> 
                <div class="col-md-2">
                        <input   type="text" name="est_amount" [value]="(category?.est_amount?category?.est_amount:0) | currency" class="form-control _est_a_to_b" #est_amount (change)="diffCalculation(est_amount,actual_amount,diff_amount,category)" appOnBlurSave (updatedValue)="autoSave($event,category)"/>
                </div>
                <div class="col-md-2">
                        <input  type="text" disabled name="amount" [value]="(category?.amount?category?.amount:0) | currency" class="form-control _act_a_to_b" #actual_amount />
                </div>
                <div class="col-md-2">
                        <input   type="text" disabled name="diff_amount" [value]="((category?.est_amount?category?.est_amount:0)- (category?.amount?category?.amount:0)) | currency" class="form-control" #diff_amount [ngClass]="{ 'text-success': ((category?.est_amount?category?.est_amount:0)- (category?.amount?category?.amount:0))>0,'text-danger': 0>((category?.est_amount?category?.est_amount:0)- (category?.amount?category?.amount:0)) }"/>       
                </div>
                <div class="col-md-2">
                        <input  type="text"  name="buyer_amount" [value]="(category?.buyer_amount?category?.buyer_amount:0) | currency" class="form-control _calc_b_to_c" #buyer_amount (change)="calcValue($event,buyer_amount,category)"  appOnBlurSave (updatedValue)="autoSave($event,category)"/>           
                </div>
        </div>

        <div class="form-group row m-b-5">         
                <div class="col-md-3">
                        <label class="col-form-label">{{totalTitle}}</label>
                </div> 
                <div class="col-md-2">
                      <div class="form-control text-box-border">
                        {{ sumPipe.transform(payoutCategoryList,'est_amount') | currency }}
                      </div>  
                </div>
                <div class="col-md-2">
                        <div class="form-control text-box-border">
                                {{ (payoutCategoryList | sum:'amount') | currency }}
                        </div>
                </div>
                <div class="col-md-2">
                        <div class="form-control text-box-border">
                                {{ (sumPipe.transform(payoutCategoryList,'est_amount') -(payoutCategoryList | sum:'amount')) | currency }} 
                        </div>
                </div>
                <div class="col-md-2">
                        <div class="form-control text-box-border">
                                {{ sumPipe.transform(payoutCategoryList,'buyer_amount') | currency }}
                        </div>
                </div>
        </div>

</fieldset>