

<h2 mat-dialog-title>Accounts</h2>
<mat-dialog-content class="mat-typography">
        <form  [formGroup]="categoryForm">
        <div class="form-group row m-b-5">
                <div class="col-md-2">
                        <label class="col-form-label">Account Name</label>
                </div>
                <div class="col-md-4">                     
                        <input type="text" formControlName="lender_name"  class="form-control m-b-0" placeholder="Account Name"/> 
                </div>
                
                <div class="col-md-2">
                        <button class="pull-right form-control btn btn-sm btn-primary" (click)="validateForm(categoryForm)">
                                Save <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
                        </button>
                </div>
        </div>  
        </form>

        <div *ngIf="categoryList" class="table-responsive m-t-10">
                <table class="table table-bordered table-condensed">
                        <tr>
                                <th>Account Name</th>
                                <th>Action</th>
                        </tr>
                        <tbody>
                                <tr *ngFor="let category of categoryList">
                                        <td>{{category.lender_name}}</td>
                                        <td class="p-5">
                                                <!-- <a href="javascript:;" (click)="removePayout(category.id)">
                                                <i class="fas fa-fw fa-trash-alt text-danger"></i>
                                                </a> -->
                                                <a href="javascript:;" (click)="editPayout(category)">
                                                <i class="fas fa-fw fa-pencil-alt m-l-10"></i>
                                                </a>
                                        </td>
                
                                </tr>
                        </tbody>
                </table>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
