<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">Zillow Url</label>
                <input type="text" formControlName="zillow_url" class="form-control m-b-0"  />            
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Realtor Url</label>
                <input type="text" formControlName="realtor_url" class="form-control m-b-0"  />            
        </div>

</div>

<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">Listing Price</label>
                <input type="text" formControlName="listing_price" class="form-control m-b-0"  />            
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Date Listed</label>
                <input type="text" formControlName="Date_Listed" class="form-control m-b-0"  />            
        </div>

</div>
<div class="form-group row m-b-5">
        <div class="col-md-2">
        <label class="col-form-label">Price Change 1</label>
        <input type="text" formControlName="price_change 1" class="form-control m-b-0"  />            
        </div>

        <div class="col-md-2">
        <label class="col-form-label">Date</label>
        <input type="text" formControlName="date" class="form-control m-b-0"  />            
        </div>

        <div class="col-md-2">
        <label class="col-form-label">Price Change 1</label>
        <input type="text" formControlName="price_change 1" class="form-control m-b-0"  />            
        </div>
        
        <div class="col-md-2">
                <label class="col-form-label">Date</label>
                <input type="text" formControlName="date" class="form-control m-b-0"  />            
        </div>
</div>
<div class="form-group row m-b-5">
        <div class="col-md-2">
        <label class="col-form-label">Google Doc URL</label>
        <input type="text" formControlName="google_doc_url" class="form-control m-b-0"  />            
        </div>  
</div>
<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">Add Showings</label>
                <input type="text" formControlName="add_showings" class="form-control m-b-0"  />            
        </div>    


        <div class="col-md-2">
                <label class="col-form-label">Add Feedbacks</label>
                <input type="text" formControlName="Add Feedbackc" class="form-control m-b-0"  />            
        </div>    
        
        <div class="col-md-2">
        <label class="col-form-label">Add Offers</label>
        <input type="text" formControlName="Add Offers" class="form-control m-b-0"  />            
        </div>    

<div class="col-md-2">
        <label class="col-form-label">Documents</label>
        <input type="text" formControlName="documents" class="form-control m-b-0"  />            
</div>
</div>

<div class="form-group row m-b-5">
<div class="col-md-2">
        <label class="col-form-label">AirBNB URL</label>
        <input type="text" formControlName="airBNB_url" class="form-control m-b-0"  />            
</div>    

<div class="col-md-2">
        <label class="col-form-label">AirBNB Rental Rate</label>
        <input type="text" formControlName="airBNB_rental_rate" class="form-control m-b-0"  />            
</div>    

<div class="col-md-2">
        <label class="col-form-label">VRBO URL</label>
        <input type="text" formControlName="vrbo_url" class="form-control m-b-0"  />            
</div>    

<div class="col-md-2">
        <label class="col-form-label">VRBO Rental Rate</label>
        <input type="text" formControlName="vrbo_rental_rate" class="form-control m-b-0"  />            
</div>    
</div>

<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">Sold Price</label>
                <input type="text" formControlName="sold_price" class="form-control m-b-0"  />      
        </div>
        <div class="col-md-2">
                <label class="col-form-label">Sold Date</label>
                <input type="text" formControlName="sold_date" class="form-control m-b-0"  />      
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Days On Market</label>
                <input type="text" formControlName="days_on_market" class="form-control m-b-0"  />      
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Seller/Grantor</label>
                <input type="text" formControlName="seller_grantor" class="form-control m-b-0"  />      
        </div>
</div>

<div class="form-group row m-b-5">
        <div class="col-md-2">
                <label class="col-form-label">Buyer/Grantee</label>
                <input type="text" formControlName="buyer_grantee" class="form-control m-b-0"  />      
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Deed Book/Page</label>
                <input type="text" formControlName="deed_book_page" class="form-control m-b-0"  />      
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Deed Recorded Date</label>
                <input type="text" formControlName="deed_recorded_date" class="form-control m-b-0"  />      
        </div>

        <div class="col-md-2">
                <label class="col-form-label">Property Closed Date</label>
                <input type="text" formControlName="property_closed_date" class="form-control m-b-0"  />      
        </div>

</div>