<!-- <div class="row">
    <div class="col-md-2">
      <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
     (tableChanged)="onChangeTable(config)"/>
    </div>
    <div class="col-md-10 text-right">
      <label class="col-form-label" *ngIf="config.paging">Page: {{page}} / {{numPages}}</label>
    </div>
</div> -->
<div class="row p-10">
  <div class="col-md-12 _document_list">
    <ng-container outsideBody>
      <div class="table-responsive">
        <ngx-datatable
          class="bootstrap fullscreen"
          [rows]="rows"
          [columnMode]="scrollBarHorizontal?'standard':'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          (activate)="onActivate($event)"
          [scrollbarH]="scrollBarHorizontal"
         
        >
          <ngx-datatable-column  *ngFor="let col of columns; let i=index" name="{{col.title}}"  prop="{{col.name}}"  [draggable]="false" [minWidth]="colWidth(col.name)" [maxWidth]="colWidth(col.name)">
            <ng-template let-value="value" let-title="" ngx-datatable-cell-template>
              <div [innerHTML]="value"></div>
            </ng-template>

          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </ng-container>
    
    <ng-container footer>
      <ngb-pagination *ngIf="config.paging && data" 
            class="d-flex justify-content-center" 
            [(page)]="page"
            [maxSize]="maxSize"
            [boundaryLinks]="true" 
            [collectionSize]="length"
            [rotate]="false" 
            (pageChange)="onChangeTable(config, $event)"
            (numPages)="numPages = $event"
         ></ngb-pagination>
    </ng-container>
  </div>
</div>